doctype html
link(rel='stylesheet' href='css/style.css')

head
    title Super awesome university!
body
    h1 University of AWESOME!
    h2 Our majors
    ul
        li
            a(href='/student1') Student 1
        li
            a(href='/student2') Student 2
        li
            a(href='/student3') Student 3