doctype html
link(rel='stylesheet' href='css/student3.css')

head
    title Mayonnaise expert (PHD) - student 3
body
    h1 You will learn how to study Mayonnaise
    p A complete degree in Mayonnaise research and development
