doctype html
head
  title UBW Edit Comment
  link(rel='stylesheet' href='css/student2.css')
body 
  h1(class='headings') Edit Comment
  form(action=`/commentsPage/edit/${comment2.id}` method='POST')
    label(for='comment') Edit your comment:
    input(type='text' name='comment' id='comment' value=`${comment2.submission}` required)
    input(type='submit' value='Submit')
  a(href='/commentsPage') Go back to comments
  a(href='/') Go back to home
