doctype html
link(rel='stylesheet' href='css/student2.css')

head
  title Under Water Basket Weaving Masters Program
h1.headings(id='student name') Davina Causey
h2 MFA Subaquatic Basketry
section#section1.sections
  h2#location.headings
    | Location
  p
    | Located on the enchanting Sisyphean Island, nestled within the heart of the Java Sea.
    | The island is a remote illusion offering an idyllic setting for farcical persuits
    | and quiet descent into delusion.
section#section2.sections
  h2#About.headings
    | About
  section
    h3
    p
  section
    h3
    p
  section
    h3
    p
section#section3.sections
  h2#ThingsToDo.headings Things To Do
  ul
