doctype html
html
  head
    title Edit Comment
    link(rel='stylesheet' href='css/student1.css')
  body
    h1 Edit Comment
    a(href="/comments") Back to comments page

    form(action=`/comments/edit/${comment.id}` method="POST")
      label(for="comment") Update your comment:
      input(type="text" name="comment" value=`${comment.text}` required)
      button(type="submit") Save Changes