doctype html
link(rel='stylesheet' href='css/student1.css')
head
  title Welcome to the Party!
// Need to add atleast 2 imgs
h1 Chandler Black
h2
  | Welcome to the Party major webpage where our motto is, 
  br
  |  P-A-R-T- Y? Cuz you Gotta!
h2 Location
p Uni Location
h2 About
h3 About Thing 1
h3 About Thing 2
h3 About Thing 3
h2 Things to Do
ul
  li
    | Thing 1
  li
    | Thing 2
  li
    | Thing 3
  li
    | Thing 4
ul
  // 5 random comments from the DB, most likely use a for-loop to get them
